<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">App Name</th>
      <th scope="col">Url</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @registered_applications.each_with_index do |reg_app, i| %>
    <tr scope="row">
      <td> <%= i + 1 %> </td>
      <td><%= reg_app.name %></td>
      <td><%= link_to reg_app.url, reg_app %></td>
      <td><%= link_to "Edit", edit_registered_application_path(reg_app) %></td>
      <td><%= link_to "Delete", registered_application_path(reg_app), method: :delete, data: { confirm: "Are you sure you want to delete this app?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
