<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <%= link_to 'Blocmetrics', root_path, :class => "navbar-brand" %>
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= link_to 'Register New Application', new_registered_application_path, :class => 'nav-link text-secondary' %></li>
    <li class="nav-item"><%= link_to 'Your Registered Applications', registered_applications_path, :class => 'nav-link text-secondary' %></li>
    <% if user_signed_in? %>
    <li class="nav-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %></li>
    <li class="nav-item"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link' %></li>
    <% else %>
    <li class='nav-item'><%= link_to "Sign Up", new_user_registration_path, :class => 'nav-link' %></li>
    <li class='nav-item'>  <%= link_to "Sign In", new_user_session_path, :class => 'nav-link'  %></li>
    <% end %>
    <li class='nav-item nav-link'>  Signed in as: <strong><%= current_user.email %></strong> </li>
  </ul>
</nav>






<body>

<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>
<%= yield %>

</body>

</html>
